<!DOCTYPE html>
<html lang="el">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Αίτηση Μεταδημότευσης</title>
</head>

<body>
    <div>
        <p>Αριθμός Πρωτοκόλου: //IDNUMBER//</p>
        <p>Αριθμός Πρωτοκόλου ΙΡΙΔΑΣ:</p>
    </div>
    <div>
        <h2>Προσωπικά Στοιχεία</h2>
        <p>Όνομα: //FIRSTNAME//</p>
        <p>Επίθετο: //LASTNAME//</p>
        <p>Ονομ/μο Πατρός: //FATHERFULLNAME//</p>
        <p>Ονομ/μο Μητρός: //MOTHERFULLNAME//</p>
        <p>Όνομα Συζύγου: //PARTNERFIRSTNAME//</p>
        <p>Ημερομηνία γέννησης: //BIRTHDATE//</p>
        <p>Διεύθυνση Κατοικίας: //HOMEADDRESS//</p>
        <p>Τ.Θ.: //POBOX//</p>
        <p>Τηλέφωνο: //CELLNUMBER//</p>
        <p>Α.Φ.Μ.: //AFM//</p>
        <p>Ηλεκτρονική Διεύθυνση: //EMAIL//</p>
    </div>

    <table>
        <caption>Λόγος Μεταδημότευσης</caption>
        <tr>
            <td>//PERMANENTRESIDENCE//</td>
        </tr>
        <tr>
            <td>//MARRIAGETOMUNICIPALRESIDENT//</td>
        </tr>
        <tr>
            <td>//REREGISTRATION//</td>
        </tr>
        <tr>
            <td>//INITIALMUNICIPALREGISTRATION//</td>
        </tr>
        <tr>
            <td>//DISSOLUTIONOFMARRIAGE//</td>
        </tr>
        <tr>
            <td>//CANDIDACYFORUPCOMINGELECTIONS//</td>
        </tr>
    </table>
    <div>
        <p> από Δήμο: //MUNICIPALITY//</p>
    </div>
</body>

</html>