<!DOCTYPE html>
<html lang="el">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Αίτηση 1</title>
</head>

<body>
    <div>Αριθμός Πρωτοκόλου: //IDNUMBER//</div>
    </div>
    <br>
    <div>
        <div>Αριθμός Πρωτοκόλου ΙΡΙΔΑΣ:</div>
    </div>
    <br>
    <div>
        <div>Ονοματεπώνυμο: &nbsp; //LASTNAME// &nbsp; //FIRSTNAME// </div>
    </div>
    <div>
        <h3>Στοιχεία Παιδιού</h3>
        <div>Ονοματεπώνυμο Παιδιού: //KIDFIRSTNAME// &nbsp; //KIDLASTNAME//</div><br>
        <div>Ημερομηνία γέννησης: //BIRTHDATE//</div>
    </div>

    <div>
        <h3>Στοιχεία Μητέρας</h3>
        <div>Ονοματεπώνυμο μητέρας: //MOTHERFIRSTNAME// &nbsp; //MOTHERLASTNAME//</div>
        <br>
        <div>Όνομα Πατρός: //MOTHERFATHERNAME//</div>
        <br>
        <div>Α.Δ.Τ. Μητέρας: //MOTHERADT//</div>
    </div>

    <div>
        <h3>Οικογενειακή Κατάσταση</h3>
        <div>Οικογενειακή Κατάσταση: //FAMILYSTATUS//</div><br>
        <div>Οικογένεια με μέλος ΑΜΕΑ 67% ή περισσότερο: //AMEASTATUS//</div>
    </div>

    <div>
        <h3>Αριθμός Παιδιών</h3>
        <div>Αριθμός παιδιών: //KIDNUMBER//</div>
    </div>
    <div>
        <div>
            <p>
                <br>
            </p>
            <p>
                <br>
            </p>


            <div>
                <h3>Προσωπικά Στοιχεία</h3>
                <div>Ονοματεπώνυμο: //FIRSTNAME// &nbsp; //LASTNAME//</div>
            </div>

            <div>
                <h3>Επιλογή Παιδικού Σταθμού </h3>
                <div>Επιλογή 1 Παιδικού Σταθμού: //CHOICEONE//</div>
                <p>
                    <br>
                </p>
                <div>Επιλογή 2 Παιδικού Σταθμού: //CHOICETWO// </div>
                <div>
                    <h3>Στοιχεία Παιδιών</h3>
                    <div>Όνομα Παιδιού (1): //FIRSTKIDNAME//</div> <br>
                    <div>Ημερομηνία γέννησης: //FIRSTKIDBIRTHDATE//</div><br>
                    <div>Όνομα Παιδιού (2): //SECONDKIDNAME//</div><br>
                    <div>Ημερομηνία γέννησης: //SECONDKIDBIRTHDATE//</div><br>
                    <div>Όνομα Παιδιού (3): //THIRDKIDNAME//</div><br>
                    <div>Ημερομηνία γέννησης: //THIRDKIDBIRTHDATE//</div><br>
                    <div>Όνομα Παιδιού (4): //FOURTHKIDNAME//</div><br>
                    <div>Ημερομηνία γέννησης: //FOURTHKIDBIRTHDATE//</div>
                </div>
            </div>
</body>

</html>